<h4 class="ui center large aligned icon header">Welcome to MessageMe - A complete chat app </h4>
<h4 class="ui center medium aligned icon header">
  <i class="circular orange power off icon"></i>
  Log in to continue
</h4>
<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <%= form_with(scope: resource, url: session_path(resource_name),local: true,:html=>{class:"ui form"}) do |f| %>
        <div class="field">
            <%= f.label :email ,class:"ui left icon input" %>
            <div class="ui left icon input">            
            <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder:"Email"%>
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <%= f.label :password %>
          <div class="ui left icon input">
            <%= f.password_field :password, autocomplete: "current-password",placeholder:"password" %>
            <i class="lock icon"></i>
          </div>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <%= f.submit "Log in" ,class:"ui orange submit button" %>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
    <%= link_to(new_user_registration_path ,class:"middle aligned column") do %>
        <div class="ui big orange button">
        <i class="signup icon"></i>
        Sign Up
      </div>
    <% end %>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>